#electrical h1{
    font-size: 18px;
    border-bottom: 1px solid #ffffff;
}

.electrical_input{
    border: 1px solid #3A362F;
}

.electrical_button{
    background-color: #3A362F;
    border: 0;
    color: #ffffff;
    padding: 5px;
}